@import "../../lib/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.container-fluid {
    padding: 0px;
}

.map {
    height: 100%;
    margin: 0;
    padding: 0;
}
